{% extends 'base.html.twig' %}

{% block body %}
<div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ducimus eligendi odio odit omnis possimus quas sed soluta vero voluptas! Dolor esse eveniet exercitationem facilis iusto maxime quo reprehenderit, voluptatem.
</div>
{% endblock %}
